.Rproj.user
.Rhistory
.RData
.Ruserdata
references.bib
references2.bib
cran-comments.md
CRAN-SUBMISSION
/.quarto/
/.vscode/
**/*.quarto_ipynb
README_old.md
*.udpipe
sentixr.Rproj
.positai
vignettes/*.html
vignettes/*.pdf
